<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Address</div>
    <div class="content">
      <div class="btn-spread">
        <%= link_to "Back", [:admin, :service_addresses], class: :btn %>
      </div>

      <%= form_for [:admin, @service_address] do |f| %>
        <%= render partial: "layouts/error_container", locals: { resource: @service_address } %>
        <div class="cell">

          <div class="form-field">
            <%= f.label :name, "Address Name (Optional)" %>
            <%= f.text_field :name %>
          </div>

          <div class="form-field">
            <%= f.label :address, "Street Address" %>
            <%= f.text_field :address %>
          </div>

          <div class="inline-fields">
            <div class="form-field">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </div>

            <div class="form-field" style="width: 100px;">
              <%= f.label :zip %>
              <%= f.text_field :zip %>
            </div>
          </div>

          <div class="form-field">
            <%= f.label :frequency %>
            <%= f.select :frequency, ServiceAddress.select_frequencies %>
          </div>

          <div class="text-center">
            <div class="actions">
              <%= f.submit "Save" %>
            </div>
            <% if @service_address.persisted? %>
              <div class="actions">
                <%= link_to "Remove Address", [:admin, @service_address], class: "btn danger", method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
