<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Addresses</div>
    <div class="content">
      <div class="btn-spread">
        <%= link_to "Account", :account, class: :btn %>
      </div>

      <div class="content-label">
        <%= link_to [:admin, :service_jobs], class: :cell do %>
          <small>View service history &rarr;</small>
        <% end %>
      </div>

      <div class="content-label">Service Addresses</div>
      <div class="text-center">
        <p><%= link_to "New Service Address", new_admin_service_address_path, class: :btn %></p>
      </div>
      <% @service_addresses.each do |service_address| %>
        <%= link_to admin_service_address_path(service_address), class: :cell do %>
          <h3><%= service_address.name.presence || service_address.address %></h3>
          <small>
            <%= service_address.frequency.titleize %> <br>
            Last Service:
            <strong><%= service_address.last_service&.to_formatted_s(:simple) || "Never Serviced" %></strong>
          </small>
          <!-- <p>Notes</p> -->
        <% end %>
      <% end %>

    </div>
  </div>
</div>
