<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Client</div>
    <div class="content">
      <p>
        <%= link_to "Back", [:admin, :service_addresses], class: :btn %>
        <%= link_to "Edit", [:edit, :admin, @service_address], class: "btn float-right" %>
      </p>

      <div class="content-label">Account Details</div>
      <%= content_tag :div, class: :cell do %>
        <% if @client.present? %>
          <h3><%= @client.name %></h3>
          <small>Contact: <%= @client.email %> | <%= @client.phone %></small> <br>
        <% else %>
          <h3>Client not added yet.</h3>
        <% end %>
      <% end %>

      <div class="content-label">Service Address</div>
      <%= content_tag :div, class: :cell do %>
        <h3><%= @service_address.name.presence || @service_address.address %></h3>
        <small>
          <%= @service_address.frequency.titleize %> <br>
          Last Service:
          <strong><%= @service_address.last_service&.to_formatted_s(:simple) || "Never Serviced" %></strong>
        </small>
      <% end %>

      <div class="content-label">Billing</div>
      <%= content_tag :div, class: :cell do %>
        <%= form_for [:admin, @service_job] do |f| %>
          <%= hidden_field_tag :service_address_token, @service_address.token %>
          <%= render partial: "layouts/error_container", locals: { resource: @service_job } %>

          <% @service_job.default_service_item_names.each do |service_name| %>
            <% item = @service_job.service_items.find_or_initialize_by(description: service_name) %>
            <%= render partial: "admin/service_addresses/service_job", locals: { item: item } %>
          <% end %>

          <template id="extra-jobs-template">
            <%= render partial: "admin/service_addresses/service_job" %>
          </template>
          <div class="extra-jobs">
            <% @service_job.service_items.not_default.each do |item| %>
              <%= render partial: "admin/service_addresses/service_job", locals: { item: item } %>
            <% end %>
          </div>

          <%= f.text_area :notes, placeholder: "Additional notes for service done" %>
          <div class="text-center">
            <%= f.submit "Submit Service" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
