<%= content_for(:style) do %>
  <style>
    th { text-align: left; }
    table {
      border-spacing: 7px;
    }
    td {
      border: 1px solid grey;
      border-radius: 8px;
      padding: 5px;
    }
    td.text-right {
      text-align: right;
    }
    td.no-border {
      border: none;
    }
  </style>
<% end %>

<div class="cell">
  <p>Month of August</p>
</div>

<div class="cell">
  <table style="width: 100%">
    <tr>
      <th>Description</th>
      <th>Units</th>
      <th>Unit Cost</th>
      <th>Unit Total</th>
    </tr>
    <% invoice.service_items.each do |item| %>
      <tr>
        <td class="description"><%= item.description %></td>
        <td class="text-right units"><%= item.unit_count %></td>
        <td class="text-right unit-count"><%= number_to_currency(item.unit_cost_in_dollars) %></td>
        <td class="text-right unit-total"><%= number_to_currency(item.cost_in_dollars) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="no-border"></td>
    </tr>
    <tr>
      <td colspan="3" class="total">Total</td>
      <td class="text-right unit-total"><%= number_to_currency(invoice.cost_in_dollars) %></td>
    </tr>
  </table>
</div>
