<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Client</div>
    <div class="content">
      <div class="btn-spread">
        <% if @service_job.persisted? %>
          <%= link_to "Back", [:admin, @service_job], class: :btn %>
        <% else %>
          <%= link_to "Back", [:admin, :service_addresses], class: :btn %>
        <% end %>
        <%= link_to "Edit", [:edit, :admin, @service_address], class: "btn float-right" %>
      </div>

      <div class="content-label">Account Details</div>
      <%= content_tag :div, class: :cell do %>
        <% if @client.present? %>
          <h3><%= @client.name %></h3>
          <small>Contact: <%= @client.email %> | <%= @client.phone %></small> <br>
        <% else %>
          <h3>Client not added yet.</h3>
        <% end %>
      <% end %>

      <div class="content-label">Service Address</div>
      <%= content_tag :div, class: :cell do %>
        <%= content_tag :h3, @service_address.name if @service_address.name.present? %>
        <%= content_tag :p, @service_address.address if @service_address.address.present? %>
        <small>
          <%= @service_address.frequency.titleize %> <br>
          Last Service:
          <strong><%= @service_address.last_service&.to_formatted_s(:simple) || "Never Serviced" %></strong>
        </small>
      <% end %>

      <div class="content-label">Billing</div>
      <%= content_tag :div, class: :cell do %>
        <%= form_for [:admin, @service_job], html: { autocomplete: :off } do |f| %>
          <%= hidden_field_tag :service_address_token, @service_address.token %>
          <%= render partial: "layouts/error_container", locals: { resource: @service_job } %>

          <%= render partial: "admin/service_items/index", locals: { service_job: @service_job } %>

          <%= render partial: "admin/service_items/total_row" %>

          <%= f.text_area :notes, placeholder: "Additional notes for service done" %>
          <div class="text-center">
            <%= f.submit "Submit Service" %>
          </div>
        <% end %>
      <% end %>

      <div class="content-label">Service History</div>
      <%= content_tag :div, class: :cell do %>
        <% jobs = @service_address.service_jobs.where.not(id: nil).order(created_at: :desc) %>
        <% last_idx = jobs.length - 1 %>
        <% jobs.each_with_index do |service_job, idx| %>
          <% next if service_job.id.nil? %>

          <%= link_to [:admin, service_job], class: :cell do %>
            <%= render partial: "show", locals: { service_job: service_job } %>
          <% end %>
          <%= content_tag :hr if idx < last_idx %>
        <% end %>
      <% end %>

      <% if @service_job.persisted? %>
        <div class="cell text-center">
          <%= link_to "Delete", [:admin, @service_job], class: "btn danger", method: :delete, data: { confirm: "Are you sure you want to delete this job?" } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
