<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Job</div>
    <div class="content">
      <div class="btn-spread">
        <%= link_to "Back", [:admin, :service_jobs], class: :btn %>
        <%= link_to "Edit", [:edit, :admin, @service_job], class: "btn float-right" %>
      </div>

      <div class="content-label">Service Job</div>
      <%= content_tag :div, class: :cell do %>
        <% service_address = @service_job.service_address %>
        <h3><%= service_address.name.presence || service_address.address %></h3>
        <small>
          <p>
            Amount:
            <strong><%= number_to_currency(@service_job.cost_in_dollars) || "N/A" %></strong>
          </p>
          <p>
            Date:
            <strong><%= @service_job.created_at.local.to_formatted_s(:simple_with_time) %></strong>
          </p>
          <% if @service_job.notes.present? %>
            <p>
              Notes:
              <%= @service_job.notes %>
            </p>
          <% end %>
        </small>
      <% end %>

      <div class="content-label">Billing Details</div>
      <%= content_tag :div, class: :cell do %>
        <% if @client.present? %>
          <h3><%= @client.name %></h3>
          <small>Contact: <%= @client.email %> | <%= @client.phone %></small> <br>
        <% else %>
          <h3>Client not added yet.</h3>
        <% end %>
        <% if @invoice.try(:paid?) %>
          <p class="text-right">
            Invoice paid: <%= @invoice.paid_at.to_formatted_s(:simple_with_time) %>
          </p>
        <% else %>
          <p class="text-right">
            <%= link_to "Mark as Paid", [:mark_paid, :admin, @service_job], class: "btn", method: :post %>
          </p>

          <%= form_tag [:deliver_invoice, :admin, @service_job] do %>
            <small>Email to deliver invoice to:</small>
            <%= text_field_tag :invoice_recipient, @service_job.invoice.try(:recipient) || @service_job.user.try(:email) %>
            <%= submit_tag "Deliver Invoice" %>
          <% end %>
        <% end %>
      <% end %>

      <div class="content-label">Invoice</div>
      <%= render partial: "admin/service_jobs/invoice_table", locals: { invoice: (@service_job.invoice || @service_job.generate_invoice) } %>
    </div>
  </div>
</div>
