<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Job</div>
    <div class="content">
      <div class="btn-spread">
        <%= link_to "Back", [:admin, :service_jobs], class: :btn %>
      </div>

      <div class="content-label">Service Job</div>
      <%= content_tag :div, class: :cell do %>
        <% service_address = @service_job.service_address %>
        <h3><%= service_address.name.presence || service_address.address %></h3>
        <small>
          <p>
            Amount:
            <strong><%= number_to_currency(@service_job.cost) || "N/A" %></strong>
          </p>
          <p>
            Date:
            <strong><%= @service_job.created_at.local.to_formatted_s(:simple_with_time) %></strong>
          </p>
          <% if @service_job.notes.present? %>
            <p>
              Notes:
              <%= @service_job.notes %>
            </p>
          <% end %>
        </small>
      <% end %>

      <div class="content-label">Invoice</div>
      <%= render partial: "admin/service_jobs/invoice_table", locals: { service_job: @service_job } %>

    </div>
  </div>
</div>
