<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Address</div>
    <div class="content">
      <%= form_for @stripe_card, data: parsley(:validate, trigger: :blur) do |f| %>
        <%= render partial: "layouts/error_container", locals: { resource: @stripe_card } %>
        <div class="cell">

          <div class="form-field">
            <%= f.label :name, "Address Name (Optional)" %>
            <%= f.text_field :name %>
          </div>

          <div class="form-field">
            <%= f.label :address, "Street Address" %>
            <%= f.text_field :address, data: parsley(:required) %>
          </div>

          <div class="inline-fields">
            <div class="form-field">
              <%= f.label :city %>
              <%= f.text_field :city, data: parsley(:required) %>
            </div>

            <div class="form-field" style="width: 100px;">
              <%= f.label :zip %>
              <%= f.text_field :zip, data: parsley(:required) %>
            </div>
          </div>

          <div class="form-field">
            <%= f.label :frequency %>
            <%= f.select :frequency, ServiceAddress.select_frequencies, data: parsley(:required) %>
          </div>

          <div class="text-center">
            <div class="actions">
              <%= f.submit "Save" %>
            </div>
            <% if @stripe_card.persisted? %>
              <div class="actions">
                <%= link_to "Remove Address", billing_path(@stripe_card), class: "btn danger", method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
