<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Service Address</div>
    <div class="content">
      <%= form_for @service_address, data: parsley(:validate, trigger: :blur) do |f| %>
        <div class="cell">

          <div class="form-field">
            <%= f.label :name, "Address Name (Optional)" %><br />
            <%= f.text_field :name %>
          </div>

          <div class="form-field">
            <%= f.label :address, "Street Address" %><br />
            <%= f.text_field :address, data: parsley(:required) %>
          </div>

          <div class="inline-fields">
            <div class="form-field">
              <%= f.label :city %><br />
              <%= f.text_field :city, data: parsley(:required) %>
            </div>

            <div class="form-field" style="width: 100px;">
              <%= f.label :zip %><br />
              <%= f.text_field :zip, data: parsley(:required) %>
            </div>
          </div>

          <div class="form-field">
            <%= f.label :frequency %><br />
            <%= f.select :frequency, ServiceAddress.select_frequencies, data: parsley(:required) %>
          </div>

          <div class="text-center">
            <div class="actions">
              <%= f.submit "Save" %>
            </div>
            <% if @service_address.persisted? %>
              <div class="actions">
                <%= link_to "Remove Address", service_address_path(@service_address), class: "btn danger", method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
