<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Account</div>
    <div class="content">
      <% if current_user.admin? %>
        <div class="btn-spread text-center">
          <%= link_to "Admin", [:admin, :service_addresses], class: :btn %>
        </div>
      <% end %>

      <div class="content-label">Account Details</div>
      <%= link_to [:edit, :account], class: :cell do %>
        <h3><%= current_user.name %></h3>
        <small>Contact: <%= current_user.email %> | <%= current_user.phone %></small> <br>
        <small><i>(Click to edit)</i></small>
      <% end %>

      <div class="content-label">Billing Information</div>
      <%= link_to @stripe_card.present? ? stripe_cards_path : new_stripe_card_path, class: :cell do %>
        <% if @stripe_card.present? %>
          <% if @stripe_card.name.present? %>
            <h3><%= @stripe_card.name %></h3>
          <% end %>
          <i class="fa fa-credit-card"></i>
          <strong><%= @stripe_card.last_4 %> | <%= @stripe_card.exp_month %>/<%= @stripe_card.exp_year %></strong>
          <% if @stripe_card.customer_error.present? %>
            <p class="danger">Failed to charge card: <br><%= @stripe_card.customer_error %></p>
          <% end %>
        <% else %>
          <i>No payment information added. Click to add.</i>
        <% end %>
      <% end %>

      <div class="content-label">Invoices</div>
      <% @invoices.each do |invoice| %>
        <%= link_to invoice_path(invoice), class: :cell do %>
          <% invoice.service_jobs.each do |service_job| %>
            <% service_address = service_job.service_address %>

            <h3><%= service_address.name.presence || service_address.address %></h3>
            <%= render partial: "admin/service_jobs/show", locals: { service_job: service_job, user_facing: true } %>
          <% end %>
        <% end %>
      <% end %>

      <% if @invoices.none? %>
        <div class="cell">
          No invoices yet.
        </div>
      <% end %>
    </div>
  </div>
</div>
