<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Account</div>
    <div class="content">
      <%= link_to @stripe_card.present? ? stripe_cards_path : new_stripe_card_path, class: :cell do %>
        <h3>Billing Information <small>(Click to edit)</small></h3>
        <% if @stripe_card.present? %>
          <% if @stripe_card.name.present? %>
            <h3><%= @stripe_card.name %></h3>
          <% end %>
          <strong><%= @stripe_card.last_4 %> | <%= @stripe_card.exp_month %>/<%= @stripe_card.exp_year %></strong>
        <% else %>
          <i>No billing information present. Click to add.</i>
        <% end %>
      <% end %>
      <% @service_addresses.each do |service_address| %>
        <%= link_to edit_service_address_path(service_address), class: :cell do %>
          <h3><%= service_address.name.presence || service_address.address %></h3>
          <small>
            <%= service_address.frequency.titleize %> <br>
            Last Service:
            <strong><%= service_address.last_service&.to_formatted_s(:simple) || "Never Serviced" %></strong>
          </small>
        <% end %>
      <% end %>
      <%= link_to "+ Add Service Address", new_service_address_path, class: :cell %>
    </div>
  </div>
</div>
